#!/usr/bin/make -f

#export DH_VERBOSE=1

export PYBUILD_NAME=jinja2

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	git checkout -- Jinja2.egg-info/SOURCES.txt || echo -n
	rm -Rf .pybuild

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.rst
